li.is-active .testimonial-item  .testimonial-text{
            background-color: #06bbcc !important;
            transition: 1s ease-in-out;
}

.splide__pagination__page{
    border-radius: 0 !important;
    background-color: white !important;
}
.splide__pagination__page .is-active{
   background-color: #06bbcc !important;
}
.splide__arrow {
    background-color: transparent !important;
}
.splide__arrow svg {
    /* stroke: white !important; */
    /* background-color: white !important; */
    -webkit-filter: invert(100%);
}


.splide__arrow:hover  {
    /* stroke: red !important; */
    background-color: #06bbcc !important;
    /* -webkit-filter: invert(100%); */
}

.splide__pagination__page.is-active{
    background-color: #06bbcc !important;

}